@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



html {
  
  scroll-behavior: smooth;
  /* background-color: #08223a; */
  background: linear-gradient(to bottom, theme('colors.tertiary2'), theme('colors.tertiary1'));
}


.home {
  background: linear-gradient(to bottom, theme('colors.tertiary2'), theme('colors.tertiary1'));
    /* background: linear-gradient(to bottom, #08223a, #0a8ffc); */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'overpass', 'firacode'; */
    /* padding: calc(5px + 1vw); */
}
/* Image */

 .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: none;
    /* margin: calc(16px + 4vw); */
} 

.text-with-shadow, .mobile-nav-text {
  font-family: 'Inconsolata', monospace;
  font-size: calc(6px + 1vw);
  font-weight:bold;
  letter-spacing: 0.015em; 
  display: inline-block; /* Ensures box shadow is applied to each letter individually */
  /* text-shadow: 1px 1px 2px  rgba(248, 249, 250, 0.87);  */
}

.text-with-shadow:hover {
  /* text-shadow: 4px 3px 16px theme(colors.secondary); */
  letter-spacing: 0.025em; 
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

.active-page{

  letter-spacing: 0.02em; 
  font-weight: extra-bold;
  color: theme('colors.primary'); 
}
.mobile-nav-text{
  font-size: theme('fontSize.2xl');
}
/* Add line after each overlay-item */
.overlay-item:after, .nav:after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  border-radius: 0 0 50% 50%;
  width: 70vw;
  margin-top: 1.2rem;
  background: linear-gradient(to bottom, theme('colors.tertiary1'), theme('colors.primary'));
  box-shadow: 0 1px 7px rgba(90, 217, 243, 0.5);
}

.nav:after, .footer:before{
  width: 100vw !important;  
  margin-top: 0;
  height: 4px;
  border-radius: 0 0 0 0;
  background: linear-gradient(to bottom, theme('colors.tertiary2'), theme('colors.primary'));
  box-shadow: 0 1px 6px rgba(90, 217, 243, 0.5);
}

/* animation for navbar bar icon to close icon */

.bar-to-close {
  /* transform: rotate(0deg); */
  transition: transform 0.3s ease-in-out;
} 

.bar-to-close.animate {
  animation: rotate 0.3s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
